.reviews {
    &__wrapper{
        margin-bottom: 60px;
    }
    &__block {
        display: flex;
        margin-top: 60px;
        flex-direction:row;
        justify-content: space-between;
        img {
            height: 170px;
            width: 170px;
        }
    }
    &__review {
        margin-left: 60px;
    }
    &__name {
        margin-bottom: 0px;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
    }
    &__subtitle {
        font-size: 14px;
        line-height: 22px;
        color: #646464;
    }
    &__descr {
        margin-top: 10px;
        font-weight: 300;
        font-size: 16px;
    }
}